* {
	margin: 0;
	padding: 0;
}
body {
    background-color: #FFF; /* Background color */
    color: #222; /* Foreground color used for text */
    font-family: Helvetica;
    font-size: 14px;
}
#wrapper {
	text-align: center;
	width: 800px; /* pc만 너비를 지정함, 모바일에서는 미지정 */
	margin:10px auto;	/* 이곳도 마찬가지다. 가운데 맞춤을 위한 작업 */
}
#top {
	margin: 30px 0 20px 0;
}
#top h1 a {	
	text-decoration: none;
	color: #2570BA;
}	
#left , #right {
	height: 600px;
	width: 90px;
	line-height: 600px;
}
#left:hover , #right:hover {
	background-color: #f0f0f0;	
}
#left {
	float: left;
	margin-right: 10px;
}
#right{
	float: right;
	margin-left: 10px;
}
#center {
	float: left;
	width: 600px;
}
#center ul {
    list-style: none;
}
#center ul li {
    border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
    color: #666;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: -1px;
    padding: 12px 10px;
    text-decoration: none;
	text-align: left;	
	height: 15px;
}
#center ul li:hover {
    color: #222222;
    padding: 12px 10px;
}
#center ul li a { /* Download button */
	text-decoration: none;
	font-size: 75%;
	border-radius: 4px;
	padding: 4px;	
	background-color: #6699FF;
	color: #FFFFFF;
	transition: background-color .3s;
}
#center ul li a:hover { /* Download button */
background-color: #993399;
}