h1 a {	
	text-decoration: none;
	color: #2570BA;
}	


body {
    background-color: #FFF; /* Background color */
    color: #222; /* Foreground color used for text */
    font-family: Helvetica;
    font-size: 14px;
    padding: 0; /* Amount of negative space around the inside of the body */
	margin: 0;
}

div {
	margin-top: 10px;
	text-align: center;
	width: 800px; 		/* pc만 너비를 지정함, 모바일에서는 미지정 */
	margin:0 auto;	/* 이곳도 마찬가지다. 가운데 맞춤을 위한 작업 */
}

ul {
    list-style: none;
    margin: 10px;
    padding: 0;
}
ul li  {
    /*background-color: #E9F1F8;*/
    border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
    color: #666;
    display: none; 
    font-size: 17px;
    font-weight: bold;
    margin-bottom: -1px;
    padding: 12px 10px;
    text-decoration: none;
	text-align: left;	
}
ul li:hover {
    color: #222222;
    display: block; 
    font-size: 17px;
    font-weight: bold;
    margin-bottom: -1px;
    padding: 12px 10px;
    text-decoration: none;
}

ul  li:first-child  {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
ul li:last-child  {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;	
}

ul li a { /* Download button */
	text-decoration: none;
	font-size: 65%;
	border-radius: 4px;
	padding: 4px;	
	background-color: #6699FF;
	color: #FFFFFF;
	transition: background-color .3s;
}

ul li a:hover { /* Download button */
	background-color: #993399;
}